<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kafka.service</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>export JAVA_HOME=/opt/homebrew/opt/openjdk@17; /Users/vikasbhandekar/kafka/kafka_2.13-3.7.0/bin/kafka-server-start.sh /Users/vikasbhandekar/kafka/kafka_2.13-3.7.0/config/kraft/server.properties</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/vikasbhandekar/kafka/kafka_2.13-3.7.0</string>

    <key>StandardOutPath</key>
    <string>/Users/vikasbhandekar/kafka/kafka_2.13-3.7.0/logs/kafka-service.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/vikasbhandekar/kafka/kafka_2.13-3.7.0/logs/kafka-service.log</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
